# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
.env
venv/
env/
.idea/
.vscode/
.DS_Store

# Logs
*.log
logs/

# OS files
Thumbs.db
desktop.ini

# Cache
*.cache
__pycache__/

# EEG data and plots
*.csv
*.json
*.png
*.jpg
*.jpeg
*.mp4
backend/saved_eeg/
